/* =======================================
   ======= Responsive content rules ====== 
   ======================================= */

@media screen and (min-width: 768px) and (max-width: 1023px), (max-width: 767px) {

	.rd-desktop-inline, .rd-desktop-block , .rd-desktop-table, .rd-desktop-inline-block{
		display: none !important;
	}

	.rd-mobile-block {
		display: block !important;
	}

	.rd-mobile-inline {
		display: inline !important;
	}
	
	.rd-mobile-inline-block {
		display: inline-block !important;
	}
	
	.rd-mobile-table {
		display: table !important;
	}
}

@media screen and (min-width: 1024px) {
	.rd-mobile-inline, .rd-mobile-block, .rd-mobile-table , .rd-mobile-inline-block{
		display: none !important;
	}

	.rd-desktop-block {
		display: block !important;
	}
	
	.rd-desktop-inline {
		display: inline !important;
	}
	
	.rd-desktop-inline-block {
		display: inline-block !important;
	}
	
	.rd-desktop-table {
		display: table !important;
	}
}

/* ===========================
   ======= Body style ========
   =========================== */

body {
	padding: 0;
	margin: 0;

	font-size: 16pt;
	font-family: Gotham-Bold;

	/* smooth font */
	-webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
	/* end smooth font */
}

::-webkit-input-placeholder {
	color: rgba(128, 128, 128, 0.8);
}

::-moz-placeholder {
	color: rgba(128, 128, 128, 0.8);
}

/* firefox 19+ */
:-ms-input-placeholder {
	color: rgba(128, 128, 128, 0.8);
}

h2{
    font-weight: normal;
}

/* ie */
input:-moz-placeholder {
	color: rgba(128, 128, 128, 0.8);
}

input[type="text"], textarea, select {
	font-family: Gotham-Bold;
}

select option {
	color: black;
}

select option:first-child {
	color: rgba(128, 128, 128, 08);
}

select.empty {
	color: rgba(128, 128, 128, 08);
}

/* Hidden placeholder */
select option[disabled]:first-child {
	display: none;
}

/* ===========================
   ========= Headings ========
   =========================== */

h1 {
	font-size: 4.3em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.3em;
}

h5 {
	font-size: 0.9em;
}


