/* ===========================
   ======= form ======
   =========================== */
.content {
	height: 530px;
	position: relative;
	overflow: hidden;
}

.careers-content {
	max-width: 480px;
	padding: 0 10px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
	text-align: center;
}

.careers-content h3 {
	color: #077cf5;
	margin-bottom: 100px;
	margin-top: 100px;
	text-align: center;
}

.careers-content p {
	font-size: 13px;
	font-weight: 100;
}

/* ===========================
   ======= bg ======
   =========================== */

.bg-fruits {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
}

.bg-fruits-container {
	height: 100%;
	width: 100%;
	max-width: 480px;
	margin: 0 auto;
	position: relative;
}

.bg-berries {
	position: absolute;
	top: 100px;
	left: -102px;
	height: 107px;
	width: 203px;
	background: url("../images/contactus/fruits/berries.png") no-repeat;

}

.bg-lemons {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -297px;
	height: 179px;
	width: 593px;
	background: url("../images/contactus/fruits/lemons.png") no-repeat;

}

@media screen and (min-width: 768px) {
	.careers-content {
		text-align: left;
	}
}
