/* ===========================
   ======= form ======
   =========================== */
.content {
	height: 1200px;
	position: relative;
	overflow: hidden;
}

.reserve-form {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 1;
}

.reserve-form-info {
	font-size: 0.5em;
}

.reserve-form ul {
	padding: 0;
	margin: 0;
}

.reserve-form ul li {
	list-style: none;
}

.reserve-form h3 {
	font-size: 1em;
	color: #ff005c;
	margin: 5px;
    letter-spacing: -1.2px;
	text-align: center;
}

.reserve-form h4 {
    font-size: 0.5em;
    color: #ff005c;
    letter-spacing: -0.5px;
    text-align: center;
}

.reserve-form select {
	font-family: Gotham;
    background: #ffffff;
	height: 47px !important;
}

.reserve-form .reserve-form-info {
	font-family: Gotham-Book;
}

.reserve-form textarea {
	height: 210px !important;
}

.reserve-form button {
	background: #ff005c;
	margin-top: 20px;
	color: #ffffff;
	border-color: #ff005c;
	height: 45px;
	width: 100%;
	font-family: Gotham-Bold;
	border: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size: 20px;
}

.reserve-form .reserve-form-data {
	height: 45px;
	width: 100%;
	margin-top: 20px;
	-moz-box-shadow: inset 0 0 5px 1px #d3d4d5;
	-webkit-box-shadow: inset 0 0 5px 1px #d3d4d5;
	box-shadow: inset 0 0 5px 1px #d3d4d5;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 15px;
	border: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
    -webkit-appearance: none;
}

/* ===========================
   ======= bg ======
   =========================== */


.bg-fruits {
    position: absolute;
    z-index: -1;
    top: -50px;
    height: 100%;
    width: 100%;
}

.bg-fruits-container {
	height: 100%;
}

.bg-orange {
	position: absolute;
	top: 150px;
	left: -220px;
	height: 194px;
	width: 411px;
	background: url("../images/contactus/fruits/orange.png") no-repeat;
}

.bg-lime {
	position: absolute;
	top: 480px;
	right: -120px;
	width: 216px;
	height: 121px;
	background: url("../images/contactus/fruits/lime.png") no-repeat;
}

.bg-strawberry {
	position: absolute;
	top: 790px;
	left: -70px;
	height: 93px;
	width: 145px;
	background: url("../images/contactus/fruits/strawberry.png") no-repeat;
}

.bg-bottom {
	position: absolute;
	top: 520px;
	left: -450px;
	height: 892px;
	width: 1368px;
	background: url("../images/contactus/fruits/buttom_fruits.png") no-repeat;

}

.bg-contact-us{
    background: url("../images/contactus/contacta-us-bg4.png") no-repeat;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: 1400px;
}

.title-wrapper{
    height: 110px;
    text-align: center;
    margin-top: 30px;
}

@media screen and (min-width: 450px) {
    .title-wrapper {
        height: 116px;
        margin-top: 46px;
    }

    .reserve-form h3 {
        font-size: 1.2em;
        margin: 0;
        letter-spacing: -1.2px;
        text-align: center;
        width: 105%;
    }

    .reserve-form h4 {
        font-size: 0.8em;
        letter-spacing: -0.7px;
        margin: 2px;
    }

    .reserve-form-info {
        font-size: 0.5em;
    }
}
@media screen and (min-width: 768px) {
    .bg-fruits {
        position: absolute;
        z-index: -1;
        top: -120px;
        height: 100%;
        width: 100%;
    }

    .bg-contact-us{
        background: url("../images/contactus/contacta-us-bg4.png") no-repeat;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-size: 1430px;
    }

 .content{
     height: 1330px;
 }


    .reserve-form, nav ul {
        max-width: 337px;
    }

    .reserve-form {
        margin: 0 auto;
    }

    .title-wrapper {
        height: 110px;
        width: 410px;
        margin-top: 52px;
        margin-left: -10%;
    }

    .reserve-form h3 {
        ont-size: 28px;
        line-height: 30px;
        letter-spacing: -0.5px;
    }

    .reserve-form h4 {
        font-size: 18px;
        line-height: 13px;
        margin: 8px;
        letter-spacing: -1.2px;
    }

    .reserve-form-info {
        font-size: 9px;
        line-height: 13px;
    }

}

@media screen and (min-width: 1400px) {

    .content{
        height: 1630px;
    }

    .bg-contact-us {
        background-size: 1630px;
    }

    .reserve-form, nav ul {
        max-width: 455px;
    }

    .title-wrapper {
        height: 140px;
        width: 540px;
        margin-top: 100px;
        margin-left: -12%;
    }


    .reserve-form h3 {
        font-size: 38px;
        line-height: 40px;
        letter-spacing: -0.2px;
        margin: 18px;
    }
    .reserve-form h4 {
        font-size: 25px;
        line-height: 18px;
        margin: 0;
    }

    .reserve-form-info {
        font-size: 12px;
        line-height: 34px;
    }
}