/* ===========================
   ======= Body style ======== 
   =========================== */

body {
	font-size: 11.6pt;
	font-family: Gotham-Bold;
	margin: 0;
	padding: 0;

	/* smooth font */
	-webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
	/* end smooth font */
}

.slide {
		height: 100%;
}

.slide.mobile {
	height: 680px;
}

/* ===========================
   ========= Headings ======== 
   =========================== */

h1 {
	font-size: 4.3em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.3em;
}

h5 {
	font-size: 0.9em;
}

/* ===========================
   ======= Anchor style ====== 
   =========================== */

a {
}

a:hover {
}

a:active {
}

a:link {
}

a:visited {
}

.main-section {
	box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.6);
	overflow: hidden;
	position: relative;
	background: white;
}

.main-section .section-content {
	position: relative;
	z-index: 1;
}


/* ===========================
   ===== Intro  ===== 
   =========================== */

#intro h1, #intro h2, #intro h3, #intro h4, #intro h5 {
	margin: 0px;
	padding: 0px;
}

#intro .background {
	background-image: url(../images/bg/intro.jpg);
	background-repeat: no-repeat;
	background-position: 53% top;
	background-size: auto 110%;
	overflow: hidden;
	height: 100%;
}

#intro .container {
	padding: 0;
	margin: 0;
	text-align: right;
}

#intro .container, #intro .container a {
	color: #254ea6;
}

#intro .container a {
	text-decoration: none;
}

#intro .container header {
	display: table;
	margin: 15px 20px;
	width: 92.5%;
}

#intro .container header nav {
	display: table-cell;
	vertical-align: top;
}

#intro .container header nav ul {
	margin: 0;
	padding: 0;
}

#intro .container header  nav ul li {
    font-family: Gotham-Bold;
	display: block;
	font-size: 0.7em;
	white-space: nowrap;
	padding-left: 2%;
    padding-top: 5px;
}

#intro .container h2 {
	text-indent: 0.2em;
	font-size: 0.85em;
    font-family: Gotham-Light;
    font-weight: normal;
}

#intro .container h1 {
    font-family: Gotham-Bold;
	font-size: 2.6em;
}

#intro .container .productLogo {
	display: table-cell;
	margin: 15px 10px 15px 20px;
	width: 30%;
	line-height: 1.5em;
	white-space: nowrap;
	vertical-align: top;
	text-align: left;
	padding-right: 30px;
}

#intro .container .reserve {
	position: absolute;
	right: 0;
	bottom: 74px;
	max-width: 158px;
	border-radius: 10px 0 0 10px;
	-moz-border-radius: 10px 0 0 10px;
	-webkit-border-radius: 10px 0 0 10px;
	color: #FFFFFF;
	background-color: #FF005C;
	font-size: 1em;
	line-height: 1.2em;
	padding: 0px 20px 0px 27px;
	text-align: left;
	-moz-box-shadow: 0px 1px 15px #000000;
	-webkit-box-shadow: 0px 1px 15px #000000;
	box-shadow: 0px 1px 15px #000000;
}

/* ===========================
   ===== Product  ===== 
   =========================== */
#product {

}

#product .container {
	margin: 0 auto;
	padding: 20px 20px 20px 20px;
	height: 100%;
}

#product .container .productInfo {
	display: table;
	margin: 0 auto;
	padding-top: 70px; 
}

#product .container .newsList {
	padding: 0px 0px 10px 0px;
	border: 0;
	border-bottom: 1px solid #ccc;
}

#product .container .newsList ul {
	display: table;
	padding: 0;
	margin: 0 auto;
	width: 100%;
}

#product .container .newsList ul li {
	display: table-cell;
	list-style: none;
	padding: 0 2%;
	vertical-align: middle;
}

#product .container .newsList ul li.left {
	padding: 0 2% 0 0;
}

#product .container .newsList ul li.right {
	padding: 0 0 0 2%;
}

#product .container .newsList a {
	display: inline-block;
}

#product .container .newsList a img {
	width: 100%;
	border: 0;
}

#product .container .dispenserPhoto {
	display: table-cell;
}

#product .container .dispenserPhoto img {
	width: 160px;
}

#product .container .dispenserDescription {
	display: table-cell;
	vertical-align: top;
	width: 150px;
	padding-top: 45px;
}
#product .container .dispenserDescription{
    font-family: Gotham-Book;
}
#product .container .dispenserDescription h3{
    font-family: Gotham-Black;
    font-size: 1.2em;
}
#product .container .dispenserDescription p, #product .container .dispenserDescription h3 {
	color: #FF005C;
	text-align: left;
}

/* ===========================
   ===== lessEnergy  =====
   =========================== */


#lessEnergy .background {
    background: url("../images/bg/sky.jpg") no-repeat center, center;
    background-size: cover;
    height: 100%;
}

#lessEnergy .container {
    display: table;
    padding: 22px 16px;
    text-align: center;
    height: 100%;
    min-height: 540px;
}

#lessEnergy .container, #lessEnergy .container a {
    color: #274fa6;
}

#lessEnergy .container a {
    text-decoration: underline;
}


#lessEnergy .container .container-inner {
    padding: 15px 45px;
}

#lessEnergy .right-column{
    display: table-cell;
    background: rgb(255, 255, 255);
    text-align: center;
    vertical-align: top;
    width: 100%;
    height: 100%;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

#lessEnergy .right-column p {
    font-size: 14px;
    font-family: Gotham-Bold;
    line-height: 22px;
    letter-spacing: 0px;
    margin-top: 5px;
}

#lessEnergy .right-column h2 {
    margin: 0;
    font-size: 20px;
    letter-spacing: -1px;
    font-family: Gotham-Black;
    margin-bottom: 10px;
    margin-top: 10px;
}

#lessEnergy .right-column h3, #lessEnergy .left-column .section-title {
    font-size: 17px;
    font-family: Gotham-Bold;
    letter-spacing: -1px;
    display: inline-block;
    text-transform: uppercase;
    line-height: 30px;
}

#lessEnergy .right-column h3{
    margin-bottom: 3%;
}

#lessEnergy .right-column .annotation{
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -1px;
    margin-top: 37px;
}

#lessEnergy .left-column{
    display: none;
}


/* ===========================
   ===== containersOptional  =====
   =========================== */


#containersOptional .background {

    height: 100%;
}

#containersOptional .container {
    display: table;
    text-align: center;
    height: 100%;
    min-height: 730px;
}

#containersOptional .container, #containersOptional .container a {
    color: #ff005c;
}

#containersOptional .container a {
    text-decoration: none;
}

#containersOptional .container .container-inner {
    padding-left: 10px;
    padding-top: 30px;
    padding-right: 30px;
    min-width: 130px;
}


#containersOptional .right-column{
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    width: 60%;
    height: 100%;
}

#containersOptional .right-column p {
    font-size: 18px;
    font-family: Gotham-Book;
    line-height: 23px;
    letter-spacing: -1px;
    margin: 0;
}

#containersOptional .left-column .section-title, #containersOptional .right-column h3 {
    font-size: 20px;
    font-family: Gotham-Bold;
    letter-spacing: -1px;
    display: inline-block;
    text-transform: uppercase;
    line-height: 24px;
}



#containersOptional .left-column{
    display: table-cell;
    vertical-align: bottom;
}

#containersOptional .left-column img{
    margin-left: -260px;
    margin-bottom: -15px;
    width: 420px;
}


/* ===========================
   ===== flavorsForEveryone  =====
   =========================== */


#flavorsForEveryone .background {
    background: url("../images/bg/fruits.jpg") no-repeat center, center;
    background-size: cover;
    height: 100%;
}

#flavorsForEveryone .container {
    padding: 22px 16px;
    text-align: center;
    height: 100%;
    display: table;
    min-height: 540px;
}

#flavorsForEveryone .container, #flavorsForEveryone .container a {
    color: #ffffff;
}

#flavorsForEveryone .container a {
    text-decoration: underline;

}


#flavorsForEveryone .container .container-inner {
    padding: 15px 25px;
}

#flavorsForEveryone .right-column{
    display: table-cell;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

#flavorsForEveryone .right-column p {
    font-size: 18px;
    font-family: Gotham-Book;
    line-height: 23px;
    letter-spacing: 0px;
    margin: 0;
}

#flavorsForEveryone .left-column .section-title, #flavorsForEveryone .right-column h3 {
    font-size: 17px;
    font-family: Gotham-Bold;
    letter-spacing: -1px;
    display: inline-block;
    text-transform: uppercase;
    line-height: 30px;
}

#flavorsForEveryone .left-column{
    display: none;
}


/* ===========================
   ===== convenientAccess  =====
   =========================== */


#convenientAccess .background {
    background: url("../images/bg/intro2.png") no-repeat center, center;
    background-size: 1500px;
    background-position: -320px -80px;
    height: 100%;
}

#convenientAccess .container {
    display: table;
    text-align: center;
    height: 100%;
    min-height: 730px;
}

#convenientAccess .container, #convenientAccess .container a {
    color: #ff005c;
}

#convenientAccess .container a {
    text-decoration: none;
}


#convenientAccess .container .container-inner {
    background: #fff;
    border-radius: 15px 0px 0px 15px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
}

#convenientAccess .right-column{
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    width: 50%;
    height: 100%;
}

#convenientAccess .right-column p {
    font-size: 18px;
    font-family: Gotham-Book;
    line-height: 23px;
    letter-spacing: 0px;
}

#convenientAccess .left-column .section-title, #convenientAccess .right-column h3 {
    font-size: 17px;
    font-family: Gotham-Bold;
    letter-spacing: -1px;
    display: inline-block;
    text-transform: uppercase;
    line-height: 30px;
}


#convenientAccess .left-column{
   display: table-cell;
}


/* ===========================
   ===== workDescription  =====
   =========================== */

#workDescription {
	font-size: 0.7em;
}

#workDescription .background {
	background: url("../images/bg/fruits.jpg");
	background-repeat: no-repeat;
	background-position: center, center;
	background-size: cover;

}

#workDescription .container {
	padding: 15px 10px;
	text-align: center;
}

#workDescription .container p {
	font-size: 1.4em;
}

#workDescription .container, #workDescription .container a {
	color: #ff005c;
}

#workDescription .container a {
	text-decoration: underline;
}

#workDescription .container .container-inner {
	padding: 20px 10px;
	background: rgba(255, 255, 255, 0.85);
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}

/* ===========================
   ===== creatorsStory  =====
   =========================== */

#creatorsStory {

}

#creatorsStory .container {
	padding: 15px 20px;
	text-align: center;

	margin: 0 auto;
}

#creatorsStory .container h3, #creatorsStory .container .description {
	color: #077cf5;
}

#creatorsStory .container .description p {
    font-family: Gotham-Bold;
	font-size: 1.3em;
}

#creatorsStory .container .story-list {
	margin: 0;
	padding: 0;
	
}

#creatorsStory .container .story-list li {
	display: table;
	list-style: none;
	padding: 10px 0;
	overflow: hidden;
}

#creatorsStory .container .story-list .thumbnail, #creatorsStory .container .story-list p {
	display: table-cell;
	vertical-align: middle;

}

#creatorsStory .container .story-list .thumbnail {
	
}

#creatorsStory .container .story-list .thumbnail img {
	width: 120px;
}

#creatorsStory .container .story-list p {
    font-family: Gotham-Book;
	margin-top: 0;
	font-size: 0.7em;
	padding-left: 20px;
	text-align: left;
}

/* ===========================
   ===== Footer  =====
   =========================== */

footer {

}

footer .container {
	padding: 15px 20px 5px 20px;
	margin: 0px 0;
	border: 0;
	border-top: 1px solid #ccc;
	box-shadow: 0px 0px 3px #000, 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff;
	-moz-box-shadow: 0px 0px 3px #000, 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff;
	-webkit-box-shadow: 0px 0px 3px #000, 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff;
	height: 40px;
}

footer .container a {
	color: #000;
	text-decoration: none;
    font-family: Gotham-Bold;
    font-size: 0.81em;
    letter-spacing: -1px;
}
footer .container a:hover {
    text-decoration: underline;
}
footer .container .linksList {
	display: table;
	padding: 0;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	height: 100%;
}

footer .container .linksList li {
	display: table-cell;
	list-style: none;
	padding: 0 2%;
	vertical-align: middle;
}

footer .container .linksList .imageCell{
	width: 35px;
	display: inline-block;
}

footer .container .linksList .imageCell img {
	width: 100%;
	border: 0;
}

/* ===========================
   ====== Media Queries ====== 
   =========================== */

@media screen and (min-width: 470px) {

    #intro .container header nav ul li {
        display: inline-block;
    }

    #lessEnergy .container {
        min-height: 730px;
    }

    #lessEnergy .right-column p {
        font-size: 24px;
        line-height: 34px;
        margin-top: 25px;
    }

    #lessEnergy .right-column h2 {
        font-size: 30px;
        letter-spacing: -1px;
        margin-bottom: 36px;
        margin-top: 15px;
    }

    #lessEnergy .right-column h3, #lessEnergy .left-column .section-title {
        font-size: 26px;
        letter-spacing: -2px;
    }

    #lessEnergy .right-column .annotation{
        font-size: 17px;
        line-height: 22px;
        margin-top: 60px;
    }

    #containersOptional .container .container-inner {
        padding-left: 20px;
        padding-top: 60px;
        padding-right: 45px;
    }

    #containersOptional .left-column .section-title, #containersOptional .right-column h3 {
        font-size: 26px;
        line-height: 35px;
    }

    #containersOptional .right-column p {
        font-size: 24px;
        line-height: 30px;
        letter-spacing: -1px;
    }

    #containersOptional .left-column .section-title, #containersOptional .right-column h3 {
        font-size: 26px;
        letter-spacing: -1px;
        line-height: 35px;
    }

    #containersOptional .left-column img{
        margin-left: -225px;
    }

    #flavorsForEveryone .container {
        min-height: 730px;
    }

    #flavorsForEveryone .right-column p {
        font-size: 24px;
        line-height: 34px;
    }

    #flavorsForEveryone .left-column .section-title, #flavorsForEveryone .right-column h3 {
        font-size: 26px;
        letter-spacing: 0px;
        line-height: 30px;
    }


    #convenientAccess .right-column p {
        font-size: 24px;
        line-height: 34px;
        letter-spacing: -2px;
    }

    #convenientAccess .left-column .section-title, #convenientAccess .right-column h3 {
        font-size: 26px;
        letter-spacing: -2px;
    }


}
@media screen and (min-width: 540px) {
	body {
		font-size: 16pt;
	}
	
	.slide.mobile {
		height: 868px;
	}
	
	/* ===========================
   ===== Intro  ===== 
   =========================== */

	#intro .container .reserve {
		max-width: 174px;
		border-radius: 20px 0 0 20px;
		-moz-border-radius: 20px 0 0 20px;
		-webkit-border-radius: 20px 0 0 20px;
		font-size: 0.8em;
	}
	
	#intro .container h2 {
		text-indent: 0;
        font-size: 0.85em;
	}

    #intro .container header nav ul li {
        display: block;
    }
	
	/* ===========================
   ===== Product  ===== 
   =========================== */
   
    #product .container .productInfo {
		padding-top: 120px; 
	}
	
	#product .container .newsList {
		padding: 0px 0px 20px 0px;
	}
	
	#product .container .dispenserPhoto img {
		width: 250px;
	}
	
	#product .container .dispenserDescription {
		width: 210px;
		padding: 110px 0px 0px 25px;
	}
	
	/* ===========================
   ===== Creators story  ===== 
   =========================== */

	#creatorsStory .container .story-list .thumbnail img {
		width: 180px;
	}

	#creatorsStory .container .story-list p {
		padding-left: 40px;
		font-size: 0.6em;
	}
	
	/* ===========================
   ===== Footer  ===== 
   =========================== */
	
	footer .container {
		height: 55px;
		padding: 20px 20px 5px 20px;
	}
	
	footer .container .linksList .imageCell {
		width: 50px;
	}
}

@media screen and (min-width: 650px) {

    #intro .container header nav ul li {
        display: inline-block;
    }
}

@media screen and (min-width: 1024px) {
	.slide.mobile {
		height: 100%;
	}

    #toTheTopArrow{
        background-image: url(../images/arrow.png);
        width: 72px;

        z-index: 10;
        position: fixed;
        right: 25px;
        bottom: 80px;
        cursor: pointer;
        height: 0;
        opacity: 0;

        -webkit-transition:opacity 0.5s;
        -moz-transition:opacity 0.5s;
        -o-transition:opacity 0.5s;
        transition:opacity 0.5s;
    }

    #toTheTopArrow.active{
        opacity: 1;
        height: 71px;
    }

	/* ===========================
   ===== intro  =====
   =========================== */
   
   #intro .background {
		background-position: top;
		background-size: cover;
		height: 100%;
	}

	#intro .container, #intro .container a {
		color: #ffffff;
	}

    #intro .container h1{
        font-size: 4.3em;

    }

    #intro .container h2{
        font-size: 1.45em;
        text-indent: .1em;

    }

	#intro .container header {
		margin: 35px 58px;
	}

	#intro .container header nav ul li {

		font-size: 25px;
		padding-left: 2%;
        margin-top: -15px;
	}

	#intro .container .productLogo {
		line-height: 2.9em;
	}

	#intro .container .reserve {
		line-height: 1.7em;
		max-width: 180px;
		padding: 7px 35px;
		font-size: 0.83em;
		bottom: 30px;
	}

	/* ===========================
   ===== Product  ===== 
   =========================== */
   
    #product .container .newsList {
		padding: 0px 0px 30px 0px;
	}
	
	#product .container .productInfo {
		padding-top: 100px; 
	}
	
	#product .container .dispenserPhoto img {
		width: 290px;
	}
	
	#product .container .dispenserDescription {
		width: 500px;
		padding: 95px 0px 0px 90px;
	}

	#product .container .dispenserDescription h3 {
        font-size: 55px;
	}

    #product .container .dispenserDescription p{
        font-family: Gotham-Book;
        font-size: 30px;
        line-height: 38px;
        letter-spacing: -2px;
    }



    /* ===========================
   ===== lessEnergy  =====
   =========================== */
    #lessEnergy .background {
        height: 100%;
        overflow: hidden;
    }

    #lessEnergy .container {
        display: table;
        height: 100%;
        width: 100%;
        padding: 0;
        opacity: .85;
        text-align: left;
    }

    #lessEnergy .container p {
        font-size: 30px;
        font-family: Gotham-Bold;
        line-height: 38px;
        letter-spacing: -2px;
        margin: 0;
    }

    #lessEnergy .container .container-inner {
        width: 430px;
        padding-left: 15%;
        text-align: left;
    }

    #lessEnergy .left-column{
        display: table-cell;
        height: 100%;
        width: 40%;
        min-width: 450px;
        vertical-align: middle;
        text-align: right;
    }

    #lessEnergy .left-column .section-title{
        width: 350px;
        padding-right: 15%;
        font-size: 45px;
        line-height: 50px;
    }

    #lessEnergy .right-column{
        text-align: left;
        width: 70%;
        padding: 0px;
        vertical-align: middle;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
    }
    #lessEnergy .right-column h2 {
        margin-bottom: 20%;
        font-size: 50px;
        margin-left: 0px;
        letter-spacing: -2px;
    }
    #lessEnergy .right-column h3 {
        display: none;
    }



    #lessEnergy .right-column .annotation {
        font-family: Gotham-Bold;
        font-size: 22px;
        line-height: 30px;
        letter-spacing: 0;
        margin: 0;
        margin-top: 10%;
    }


    /* ===========================
   ===== containersOptional  =====
   =========================== */
    #containersOptional .background {
        height: 100%;
        overflow: hidden;
        background-position: center center;

    }

    #containersOptional .container {
        display: table;
        height: 100%;
        width: 100%;
        padding: 0;
        opacity: .85;
        text-align: left;
    }

    #containersOptional .container .container-inner {
        max-width: 500px;

        padding: 0;
        padding-left: 15%;
        text-align: left;

        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
        background: transparent;
    }

    #containersOptional .left-column{
        display: table-cell;
        height: 100%;
        width: 40%;
        min-width: 450px;
        padding-left: 95px;
        vertical-align: bottom;
    }

    #containersOptional .left-column img{
        width: 95%;
        margin: 0;
    }

    #containersOptional .right-column{
        width: 70%;
        padding: 0px;
    }

    #containersOptional .right-column h3 {
        font-size: 45px;
        letter-spacing: -3px;
        line-height: 50px;
    }

    #containersOptional .right-column p {
        font-size: 30px;
        font-family: Gotham-Book;
        line-height: 38px;
        letter-spacing: -2px;
        margin: auto;
    }


    /* ===========================
   ===== flavorsForEveryone  =====
   =========================== */
    #flavorsForEveryone .background {
        height: 100%;
        overflow: hidden;
    }

    #flavorsForEveryone .container {
        height: 100%;
        width: 100%;
        padding: 0;
        opacity: .85;
        text-align: left;
    }

    #flavorsForEveryone .container .container-inner {
        width: 450px;
        padding: 0;
        padding-left: 15%;
        text-align: left;
    }

    #flavorsForEveryone .left-column{
        display: table-cell;
        height: 100%;
        width: 40%;
        min-width: 450px;
        vertical-align: middle;
        text-align: right;
    }

    #flavorsForEveryone .left-column .section-title{
        width: 350px;
        padding-right: 15%;
        font-size: 45px;
        line-height: 50px;
        font-family: Gotham-Bold;
        letter-spacing: -3px;

    }

    #flavorsForEveryone .right-column{
        text-align: left;
        width: 70%;
        padding: 0px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
    }

    #flavorsForEveryone .right-column h3{
        display: none;
    }

    #flavorsForEveryone .right-column p {
        font-size: 30px;
        font-family: Gotham-Bold;
        line-height: 38px;
        letter-spacing: -2px;
    }


    /* ===========================
   ===== convenientAccess  =====
   =========================== */
    #convenientAccess .background {
        height: 100%;
        overflow: hidden;
        background-size: cover;
        background-position: center center;
    }

    #convenientAccess .container {
        display: table;
        height: 100%;
        width: 100%;
        padding: 0;
        opacity: .85;
        text-align: left;
    }

    #convenientAccess .container .container-inner {
        max-width: 500px;

        padding: 0;
        padding-left: 15%;
        text-align: left;

        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
        background: transparent;
    }

    #convenientAccess .left-column{
        display: table-cell;
        height: 100%;
        width: 40%;
        min-width: 450px;
        vertical-align: middle;
        text-align: right;
    }


    #convenientAccess .right-column{
        width: 70%;
        padding: 0px;
    }

    #convenientAccess .right-column h3 {
        font-size: 45px;
        letter-spacing: -3px;
        line-height: 50px;
    }

    #convenientAccess .right-column p {
        font-size: 30px;
        font-family: Gotham-Book;
        line-height: 38px;
        letter-spacing: -2px;
    }


    /* ===========================
   ===== workDescription  =====
   =========================== */
	#workDescription .background {
		height: 100%;
		overflow: hidden;
	}

	#workDescription .container {
		display: table;
		float: right;
		width: 920px;
		height: 100%;

		padding: 0;

		background: rgba(255, 255, 255, 0.85);

		text-align: left;
	}

	#workDescription .container .container-inner {
		display: table-cell;
		vertical-align: middle;
		width: 100%;

		background: none;

		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		border-radius: 0px;
	}

	#workDescription .container h2 {
		text-align: center;
		margin: 0;
		padding: 0;
	}

	#workDescription .container p {
		font-size: 1em;
	}

	#workDescription .container .row {
		padding-top: 40px;
		text-align: center;
	}

	#workDescription .container .cell {
		display: inline-block;
		width: 350px;

		padding: 10px 40px;

		vertical-align: top;

		text-align: left;
	}

	#workDescription .container .annotation {
		float: right;
		width: 205px;
		margin-right: 197px;
	}

	/* ===========================
   ===== creatorsStory  =====
   =========================== */
	#creatorsStory {

	}

	#creatorsStory .container {
		display: table;
		height: 100%;
		text-align: center;
		padding: 30px 20px 105px 20px;
	}
	
	#creatorsStory .container h3 {
		font-size: 55px;
        font-family: Gotham-Black;
		margin: 80px 0 100px 0;
	}
    #creatorsStory .container .description p{
        font-size: 30px;
        line-height: 38px;
    }

	#creatorsStory .container .container-inner {
		display: table-cell;
		vertical-align: middle;
	}

	#creatorsStory .container .description, #creatorsStory .container .story-list {
		display: table-cell;
		vertical-align: middle;
	}

	#creatorsStory .container .description {
		width: 380px;
		text-align: right;
	}

	#creatorsStory .container .story-list {
		width: 652px;
		padding-left: 90px;
	}

	#creatorsStory .container .story-list .thumbnail img{
		width: auto;
	}
	
	#creatorsStory .container .story-list p {
		padding-left: 50px;
		font-size: 17px;
        line-height: 20px;
	}

	/* ===========================
   ===== Footer  =====
   =========================== */
	
	footer .container {
		height: 120px;
		padding: 0px 25px 0px 25px;
	}
	
	footer .container .linksList .twitterCell {
		text-align: left;
		padding: 0 11% 0 3%;
	}

	footer .container .linksList .copyright {
		font-size: 12px;
		color: #5c5c5c;
		font-family: Gotham-Book;
	}

	footer .container .linksList .imageCell {
		width: 35px;
	}
	
	footer .container .linksList li {
		padding: 0 3%;
	}
}

@media screen and (min-width: 1200px) {

    #intro .container h1{
        font-size: 120px;
    }

    #intro .container h2{
        font-size: 40px;
        line-height: 75px;
        text-indent: 0.1em;
    }

    #intro .container header nav ul li {
        font-size: 1.15em;
        padding-left: 4%;
    }
}