/* ===========================
   ======= nav ======
   =========================== */
nav {
	background: #ffffff;
	-moz-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.3);
    font-family: Gotham-Bold;
}

nav ul {
	display: table;
	width: 100%;

	margin: 0 auto;
	padding: 0;

	height: 56px;
	font-size: 16px;
}

nav ul li {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

nav ul li a {
	text-decoration: none;
	color: black;
}

    .logo h1 a, .logo h1 a:visited, .logo h1 a:active, .logo h1 a:hover{
        text-decoration: none;
        color: #bfc0c1;
    }

@media screen and (min-width: 500px) {
    nav ul{
        height: 90px;
    }
}
@media screen and (min-width: 768px) {
    .logo {
        color: #bfc0c1;
        font-weight: bold;
        position: absolute;
        top: 0;
        left: 0;
    }

    .logo h1 {
        font-family: Gotham-Bold;
        margin: 0;
        font-size: 54px;
        line-height: 94px;
        letter-spacing: -1.7px;
       margin-left: 30px;
    }

    nav ul {
        font-family: Gotham-Bold;
        width: 600px;
        height: 105px;
        font-size: 18px;
        line-height: 25px;
    }
}

@media screen and (min-width: 1400px) {

    .logo h1 {
        font-size: 74px;
        line-height: 136px;
      }

    nav ul {
        height: 136px;
        width: 600px;
        font-size: 25px;
        line-height: 30px;
    }
}